  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  #proyecto{
    background-color:#0a192f;
    font-family:'Mulish', sans-serif;
    margin: auto;
    width:100%;
  }

  h5{
    text-align: center;
    color: #e6f1ff;
  }

  h2{
    color: #64ffda;
  }

  .img-proyecto:hover{
    opacity:1;
    transition: 400ms;
    box-shadow: 10px 10px 30px 5px #64ffda ;
  }

  div h5:hover{
    text-decoration: underline;
    cursor:pointer;
  }
