<style>
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  #formacion{
    background-color:#0a192f;
    font-family:'Mulish', sans-serif;
    margin: auto;
    width:100%;
    padding: 20px;

  }

  /*Tarjetas formacion academica y experencia*/
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #0a192f;;
    color: #64ffda;
    border-radius: 8px;
    max-width: 400px;
    border: 2px solid #64ffda;
    text-align: center;
  }

  /*Titulo de la tarjeta*/
  .title {
    color: #64ffda;
    position: relative;
  }

  h2 strong{
    color: #e6f1ff;
  }

  h2{
    color: #64ffda;
  }

</style>

<!------------------------------------------------------------------------------------------------------------------------------------------>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

 <div id="formacion">

  <section>
    <h2 style="padding: 20px;"> 03. <strong>Educacion Academica.</strong> </h2>

    <div style="border: #64ffda;">

      <div class="col-lg-2">
        <button type="button" class="btn" style="background-color:#64ffda; color:#0a192f; border-radius:5px;margin:10px" routerLink="/new-educacion" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>

      <ul>
        <li *ngFor="let Educacion of educacion">

            <div class="outer">
              <div class="card" style="background-color:#0a192f;border-color:#64ffda">
                <div class="info">

                  <h3 class="title"style="color: #e6f1ff;">{{Educacion.nombreEducacion}}</h3>
                  <p style="color:#e6f1ff">{{Educacion.nombreInstitucion}}</p>

                  <div *ngIf="isLogged">
                    <button class="btn" style="background-color:#64ffda;" routerLink="/edit-educacion/{{Educacion.id}}"> EDITAR</button>
                  </div>

                  <div *ngIf="isLogged">
                    <button class="btn" style="background-color:#64ffda"(click)="delete(Educacion.id)">BORRAR</button>
                  </div>

                </div>

              </div>
            
          </div>

        </li>
      </ul>

    </div>
  </section>
</div>

