<div class="container">
  <div class="row">
      <div>
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

            <div class="form-group">
              <label for="nombreEducacion">Nombre Educacion</label>
              <input type="text" class="form-control" id="nombreEducacion" name="nombreEducacion" [(ngModel)]="nombreEducacion" required>
             </div>
             
              <div class="form-group">
                  <label for="nombreInstitucion">Nombre de la Institucion</label>
                  <input type="text" class="form-control" id="nombreInstitucion" name="nombreInstitucion" [(ngModel)]="nombreInstitucion" required>
              </div>
              
              <button class="btn btn-primary">
                  Agregar educacion
              </button>
              
          </form>
      </div>
  </div>
</div>

